<div class="navbar-wrapper">
  <div class="navbar-title"
       (click)="root.lis.root.lys.homeNavigation()">
  </div>

  <div class="navbar-search-input-wrapper">
    <input
      #search_input
      (keyup)="root.ps.onSearch(search_input.value)"
      type="text"
      class="navbar-search-input"
      placeholder="Search...">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>


  <div class="nav-user-profile">
    <button mat-button [matMenuTriggerFor]="menu">{{root.lis.currentUser.username.toUpperCase()}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="root.lis.root.lys.userProfileNavigation()">User Profile</button>
      <button mat-menu-item (click)="root.lis.root.authService.logout()">Log Out</button>
    </mat-menu>
    <div class="nav-user-profile-img"
         (click)="root.lis.root.lys.userProfileNavigation()">

      <ng-container *mobxAutorun>

        <img *ngIf="root.lis.currentUser?.avatar"
             src="{{root.lis.currentUser.avatar}}">
      </ng-container>
    </div>
  </div>
</div>


