<div class="navbar-wrapper">
  <div class="navbar-title" (click)="log.root.lys.homeNavigation()">
    Memez
  </div>


  <div class="nav-user-profile">
    <button mat-button [matMenuTriggerFor]="menu">{{log.currentUser.name.toUpperCase()}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="log.root.lys.userProfileNavigation()" >User Profile</button>
      <button mat-menu-item (click)="log.signOutNavigation()" >Sign Out</button>
    </mat-menu>
    <div class="nav-user-profile-img" (click)="log.root.lys.userProfileNavigation()">
      <img *ngIf="log.currentUser.avatar"
            src="{{log.currentUser.avatar}}">
    </div>
  </div>
</div>


