<div class="login-form">
  <div class="login-form-wrapper">
    <div class="login-heading">
      Memez
    </div>
    <input [(ngModel)]="lis.username"
           name="userName"
           type="text" placeholder="enter your name" class="user-name-input">
    <input [(ngModel)]="lis.password"
           name="password"
           type="text" placeholder="enter your password" class="user-name-input">


    <button class="login-button" (click)="lis.loginHandler(lis.username)">login
    </button>
    <div class="new-account" (click)="lis.signUpNavigation()">Create New Account</div>
  </div>

</div>
