<div class="content-wrapper">

  <div class="user-card" *mobxAutorun>
    <div class="user-image"
         (click)="us.openUploadDialogProfile()">
      <img src="{{us.root.lis.currentUser.avatar}}">

      <button mat-button
              *ngIf="this.us.root.ups.newFileName"
              (click)="us.editProfilePic(this.us.root.lis.currentUser, this.us.root.ups.newFileName)">Apply
      </button>
    </div>
    <div class="user-details-all">
      <div class="user-name">{{us.root.lis.currentUser.username.toUpperCase()}}</div>
      <div class="user-details">
        <mat-list>
          <mat-list-item>Information</mat-list-item>
          <mat-list-item>About</mat-list-item>
          <mat-list-item>User</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="posts-container" *mobxAutorun>
    <mem-post
      *ngFor="let post of us.root.us.currentUserPosts"
      [post]="post"
      [selected]="us.root.fs.verifyUserLike(post)"
      [currentUser]="us.root.lis.currentUser"
      (postLiked)="us.root.lks.handleLike($event)"
      (PostToDelete)="us.root.ps.deletePost($event)"
    ></mem-post>
  </div>

</div>
