<div class="content-wrapper">
  <div class="new-post">
    <mem-user-posting
      (newPost)="fs.root.ps.createPost($event)"
    ></mem-user-posting>

    <div class="upload_dialog_btn" *mobxAutorun>
      <button (click)="fs.openUploadDialogFeed()">Upload File</button>
      <div *ngIf="fs.root.ups.newFileName"
        class="upload-done">
        <img src="../../../assets/images/done.png" alt="done">
      </div>
      <div *ngIf="fs.root.ups.loading"
        class="upload-loading">
        <div class="loader"></div>
      </div>
    </div>
  </div>


  <div class="posts-container" *mobxAutorun>
    <mem-post
      *ngFor="let post of fs.root.ps.filteredPosts"
      [post]="post"
      [selected]="fs.verifyUserLike(post)"
      [currentUser]="fs.root.lis.currentUser"
      (postLiked)="fs.root.lks.handleLike($event)"
      (PostToDelete)="fs.root.ps.deletePost($event)"
    ></mem-post>

  </div>
</div>




