mem-layout {
  background-image: url("images/background.png");
}

.header {
  height: 90px;

}
.navbar-wrapper {
  width: 100%;
  height: 90px;
}

input.navbar-search-input {
  height: 22px;
  width: 240px;
}


.navbar-search-input-wrapper fa-icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
}


.nav-user-profile button {
  font-size: 15px;
}

.nav-user-profile-img {
  height: 40px;
  width: 40px;
  margin-left: 15px;
  background-size: 40px;

}


.nav-user-profile img {
  height: 40px;
  width: 40px;
}

.navbar-title {
  width: 140px;
  height: 100px;
  background-size: 125px;
  background-position: center;
  background-color: transparent;
   padding: 10px;
  font-size: 40px;
  margin: 0;
}
.navbar-title:hover {
  cursor: pointer;
}


/*All posts*/





mem-feed {
  width: 50%;
}

.posts-container {
  margin: 10px;
}


.post-user-name {
  width: 50%;
  font-size: 25px;
  font-weight: normal;
}

.post-user-avatar {
  height: 50px;
  width: 50px;
  background-size: 50px;

}

.post-user-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  /* cursor: pointer; */
}

.post-time-date {
font-size: 13px;
}


.post-content {
  width: 60%;

}



.like-comment-btn:hover {
  cursor: pointer;
}

.like-btn-count {
  display: flex;
}

.like-btn-count section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-like-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid #00ffff 1px; */
  flex: 1;
  padding: 0 10px 10px 10px;
}


.like-comment-length {
  display: flex;
  align-items: center;
}

.comment_btn {
  display: flex;
  align-items: center;


}

.delete_post {
  display: flex;
  align-items: center;
}

.delete_post:hover {
  cursor: pointer;
}


footer {
  display: block;
  margin-top: 20px;
  height: 80px;
  width: 100%;
  background: transparent;
}

/*new posts*/

.new-post {
  height: 250px;
  margin: 40px 0 40px 0;
}

.new-post-heading {
  padding: 10px;
  font-size: 40px;
}




/*upload comp*/

input[type="file"] + label {
  padding: 15px 30px;
  font-size: 17px;
  cursor: pointer;
}


.upload_wrapper button {
  font-size: 17px;
  height: 50px;
}







.preview {
  width: 350px;
  height: 350px;
}



.cropper {
  height: 470px;
}


/* USER PROFILE PAGE*/
mem-user-profile {
  width: 50%;
}



.user-card {
  width: 100%;
  margin: 40px 0 40px 0;

}

.user-image {
  height: 200px;
  width: 220px;
  background-size: 200px;
}


.user-image img {
  height: 200px;
  width: 200px;

}

.user-name {
  font-size: 35px;

}

.user-details {
  font-size: 15px;
  margin: 10px;
  flex: 1;
  /*border: coral solid;*/
}



.apply-button button {
  width: 100px;

}


/*Login and Signup*/






.login-form-wrapper {
  display: flex;
  border: solid lightgray 1px;
  border-radius: 15px;
  flex-direction: column;
  height: 680px;
  width: 400px;
  background-color: white;
  /*justify-content: space-around;*/
  align-items: center;
}



.login-heading {
  padding: 10px;
  font-size: 60px;
  /*margin-bottom: 90px;*/
}




.user-new-post button {
  width: 150px;
  height: 40px;

}

.user-new-post button:disabled {
  width: 150px;
  height: 40px;

}

.upload_dialog_btn button {
  width: 110px;
  height: 40px;

}









/*comments*/

.mat-dialog-container {
  padding: 24px; !important;
}
.single-comment {
  padding: 10px;
}


.comment-content {
  font-size: 18px;
}


.comment-time {
  font-size: 10px;
}



.comment-user-name {
  width: 70px;
  font-size: 20px;
}




.comment-user-img {
  height: 30px;
  width: 30px;
  background-size: 30px;
}

.comment-user-img img {
  height: 30px;
  width: 30px;

}



.newComment {
  flex-direction: row;
}

.newComment input {
  width: 546px;
  height: 22px;
  margin: 0 10px 0 0;
}

circle.ng-star-inserted {
  stroke: #77bbd6 !important;
}













