<div class="login-form">
  <div class="login-form-wrapper">
    <div class="login-heading">
      <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="login-img">
      <img src="../../../assets/images/login.png" alt="login">


    </div>
    <div class="login-details"
         [formGroup]="signupForm">
      <input #email
             type="email"
             formControlName = "email_add"
             placeholder="Enter your email address"
             class="signup-inputs">
      <ng-container *mobxAutorun>
        <div
          *ngIf="email_add.invalid && !email_add.pristine"

          class="details-error">
          This is not a valid Email !
        </div>
      </ng-container>


      <input #username
             type="text"
             placeholder="choose username"
             class="signup-inputs">
      <input #password
             type="password"
             formControlName="password"
             placeholder="enter your password"
             class="signup-inputs">
      <ng-container *mobxAutorun>
        <div
          class="details-error"
          *ngIf="(password_1.hasError('strong')|| password.value.length < 6 )&& !password_1.pristine">
          Password must contain at least 6 characters , 1 number ,1 lowercase & 1 uppercase letter.
        </div>
      </ng-container>
      <input #password2
             type="password"
             formControlName="password2"
             placeholder="enter same password"
             class="signup-inputs"
      ></div>
    <ng-container *mobxAutorun>
      <div
        *ngIf="password.value !== password2.value && !password_2.pristine"
        class="details-error">
        Passwords doesn't match !
      </div>
    </ng-container>
    <button class="signup-button"
            [disabled]="!signupForm.valid || signupForm.pristine || password.value !== password2.value"
            (click)="sus.signUpUser(username.value,password.value,password2.value,email.value)">
      Sign Up
    </button>

  </div>

</div>
