<div class="upload_wrapper">
    <div class="upload_input">
      <input #ImageInput
             type="file"
             name="file"
             accept="image/*"
             (change)="fileChangeEvent($event)">

      <br />
      <br />
      <button (click)="rotateLeft()">Rotate left</button>
      <button (click)="rotateRight()">Rotate right</button>
      <button (click)="flipHorizontal()">Flip horizontal</button>
      <button (click)="flipVertical()">Flip vertical</button>
      <br />
      <br />
      <button (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button>
      <button (click)="resetImage()">Reset image</button>
      <br />
      <br />
      <input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" /> <button (click)="zoomOut()">Zoom -</button> <button (click)="zoomIn()">Zoom +</button>


    </div>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="256"
    [cropperMinWidth]="128"
    [onlyScaleDown]="true"
    [roundCropper]="false"
    [canvasRotation]="canvasRotation"
    [transform]="transform"
    [alignImage]="'center'"
    [style.display]="showCropper ? null : 'none'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady($event)"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <img
    [src]="croppedImage"/>











    <div class="upload_btn">
      <button type="button"
              mat-button [mat-dialog-close]="true"
              (click)="onUpload()">submit
      </button>
    </div>

</div>


