<div class="upload_wrapper">
  <div class="upload_input">

    <div class="upload-input">
      <input #ImageInput
             id="fileInput"
             type="file"
             name="file"
             accept="image/*"
             (change)="onSelect($event)">
      <label for="fileInput">Select an Image</label>
    </div>

    <br>
    <br>
    <angular-cropper #angularCropper
                     *ngIf="imageUrl"
                     [cropperOptions]="config"
                     (export)="resultImageFun($event)"
                     [imageUrl]="imageUrl">

    </angular-cropper>
    <br>

    <button
      *ngIf="imageUrl"
      (click)="CropMe()">Crop
    </button>
    <br>
    <br>
    <img
      *ngIf="imageUrl"
      [src]="result"/>


    <div class="upload_btn">
      <button type="button"
              mat-button [mat-dialog-close]="true"
              (click)="onUpload()">submit
      </button>
    </div>

  </div>


