<div class="upload_wrapper">
    <div class="upload_input">
      <input #ImageInput
             type="file"
             name="file"
             accept="image/*"
             (change)="onSelect($event)">

      <angular-cropper #angularCropper
                       *ngIf="imageUrl"
                       [cropperOptions]="config"
                       (export)="resultImageFun($event)"
                       [imageUrl]="imageUrl">

      </angular-cropper>
      <br>

      <button
        *ngIf="imageUrl"
        (click)="CropMe()">CropMe</button>


      <br>
      <br>

      <img
        *ngIf="imageUrl"
        [src]="result" />






    <div class="upload_btn">
      <button type="button"
              mat-button [mat-dialog-close]="true"
              (click)="onUpload()">submit
      </button>
    </div>

</div>


