<div class="upload_wrapper">
  <div class="upload-input">
    <input id="fileInput"
           type="file"
           name="file"
           accept="image/*"
           (change)="onSelect($event)">
    <label for="fileInput">Select an Image</label>
  </div>

  <ng-container *ngIf="imageUrl">
    <hr>
    <div class="upload-content">
      <div class="upload-image-wrapper">
        <angular-cropper
          #angularCropper
          [cropperOptions]="config"
          (export)="resultImageFun($event)"
          [imageUrl]="imageUrl">
        </angular-cropper>
      </div>
      <ng-container *ngIf="newFile.type !== 'image/gif'">
        <div class="preview"
             [ngClass]="cropped ? 'preview-selected' : 'preview'"
             (click)="cropMe()">
        </div>
        <div class="preview-btn"
             (click)="cropMe()">CROP</div>
      </ng-container>

    </div>
  </ng-container>
  <hr>
  <div class="upload_btn">
    <button type="button"
            mat-button [mat-dialog-close]="true"
            (click)="onUpload()">Upload
    </button>
  </div>
</div>

