<div class="post-wrapper">
  <div class="post-user-profile">
    <div class="post-user-avatar">
      <img *ngIf="post.postedBy.avatar" src="{{post.postedBy.avatar}}">
    </div>
    <div class="post-user-name">{{post.postedBy.username}}</div>
    <div class="post-time-date">
      <div>{{post.date}}</div>
      <div>{{post.time}}</div>
    </div>
  </div>
  <div class="post-content-wrapper">
    <div class="post-content">{{post.content}}</div>
    <img class="post-content"
         *ngIf="post.image"
         [src]="post.image"
         (click)="openModal()">

    <div [ngClass]="status ? 'modal' :'modal_hide'"
         id="myModal" class="modal_hide"
         (click)="closeModal($event)">
      <span class="close"
            (click)="closeModal_btn()"
      >&times;</span>
      <img class="modal-content" id="img01"
           [src]="post.image"
      >
    </div>


  </div>
  <div class="post-like-wrapper">

    <div class="like-btn-count">
      <div class="comment_btn">
        <mat-icon (click)="onCommentClick()"
        >comment</mat-icon>
      <section>
        <button mat-icon-button (click)="toggleSelected()"
                class="like-btn">
          <mat-icon (click)="onPostLike(post)"
                    *ngIf="selected"
                    color="warn"
                    class="like-icon">favorite
          </mat-icon>
          <mat-icon (click)="onPostLike(post)"
                    *ngIf="!selected"
                    class="like-icon">favorite_border
          </mat-icon>
        </button>
        <div class="post-like" *ngIf="post.likes.length">{{post.likes.length}}</div>
      </section>

      </div>
    </div>


    <div *ngIf="currentUser?._id === post?.postedBy?._id"
         class="delete_post"
         (click)="deletePost(post)">
      <mat-icon>delete</mat-icon>
    </div>



  </div>

</div>

