<div class="navbar-wrapper" >
  <div class="navbar-title"
       (click)="log.root.lys.homeNavigation()">
  </div>


  <div class="nav-user-profile">
    <button mat-button [matMenuTriggerFor]="menu">{{log.currentUser.username.toUpperCase()}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="log.root.lys.userProfileNavigation()" >User Profile</button>
      <button mat-menu-item (click)="log.root.authService.logout()" >Sign Out</button>
    </mat-menu>
    <div class="nav-user-profile-img"
         (click)="log.root.lys.userProfileNavigation()">

      <ng-container *ngIf="log.currentUser.avatar" >

      <img *mobxAutorun
              src="{{log.currentUser.avatar}}">
      </ng-container>
    </div>
  </div>
</div>


